.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}



.carousel-images {
    width: 100%;
}

.img_item {
    width: 100%;
    min-height: 250px;
    object-fit: fill;
}
@media screen and (min-width: 489px) {
    .img_item {
        height: 300px;
    }
}

@media screen and (min-width: 589px){
    .img_item {
        height: 400px;

        > img {
            object-fit: fill;
        }
    }
}

@media screen and (min-width: 992px){
    .img_item{
        height: 550px;

        > img {
            object-fit: fill;
        }
    }
}