.track_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;

    > h2 {
        color: var(--blue);
    }

    > p {
        font-size: .8em;
        color: var(--text);
    }
}