@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #05326B;
    --yellow: #FDB103;
    --white: #FFFFFF;
    --trans_blue: #e8f2fc;
    --title: #000;
    --text: #494848;
    --hover: #0759c5;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1366px;
    margin: auto;
}

.section_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;

    >h2 {
        font-size: 2rem;
        color: var(--blue);
    }

    >p,> ol{
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--text);
    }
}

.shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;

    >a,
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100px;

        >img {
            width: 100%;
        }
    }
}