@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #05326B;
    --yellow: #FDB103;
    --white: #FFFFFF;
    --trans_blue: #05326B;
    --title: #000;
    --text: #707070;
    font-family: 'Poppins', sans-serif;
}